doctype html
html(lang='en')
  include ../layouts/head.jade
  +head('Express.JS')
  body
    header
      include ../layouts/nav.jade
      +nav()
      br
      .container
        .row.aligns-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 Tambah Data User
            br
            form(action="/users/create_action", method="POST")
                .form-group
                    label(for="email").col-md-3.control-label Email
                    .col-md-6
                        input(type="text", name="email", id="email", placeholder="Your email", value="#{ (email) ? email : '' }").form-control
                .form-group
                    .col-sm-offset-3.col-sm-6
                        button(type="submit").btn.btn-primary
                            i.fa.fa-save
                            | simpan
                        | &nbsp;
                        a(href="/users/list").btn.btn-danger Batal
  include ../layouts/footer.jade
  +footer()